[Unit]
Description=Screencast daemon
After=lipstick.service
Requires=lipstick.service

[Service]
ExecStart=-/usr/sbin/screencast --daemon $SCREENCAST_OPTIONS
Restart=on-failure
RestartSec=5s
